<!DOCTYPE html>
<html lang="en">
<!-- {{appid}} -->
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{detail.sitename}}</title>
    <base href="/{{detail.sitedir}}/">
    <link rel="stylesheet" href="http://static.seezt.cc/shop/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/theme/{{detail.template}}/css/index_pc.css">
    <link rel="stylesheet" href="/theme/{{detail.template}}/css/theme.{{detail.color}}.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="http://static.seezt.cc/shop/js/jquery.1.8.3.min.js"></script>
    <script type="text/javascript">
        !window.jQuery && document.write('<script src="/js/jquery.1.8.3.min.js"><\/script>');
    </script>
    <script src="http://static.seezt.cc/shop/js/layer/layer.js"></script>
    <script src="http://static.seezt.cc/shop/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="/js/sentry.js"></script>
    <script>
        init_sentry('{{version}}','{{env}}','{{appid}}');
    </script>
    {{{detail.GoodsCode.ggcode}}}
    {{#each(detail.adcode)}}
    {{{this.headcode}}}
    {{/each}}
    {{#each(detail.othercode)}}
    {{{this.headcode}}}
    {{/each}}
</head>
<body>
<div id="app">
<div class="main_header">
    <div class="logo_div">
        <img src="{{cdnbase+(logo?logo:'201711/YCtMJ_JWnMBom8530MaFLn9f.gif')}}">
    </div>
    <div class="menu_div">
        <ul id="tab_nav" class="header_tabs">
            <li>
                <a href="../home/{{detail.home_select}}" v-if="detail.home_id">{{lang('首页',detail.language)}}</a>
                <a href="/{{detail.sitedir}}" v-else>{{lang('首页',detail.language)}}</a>
            </li>
            <li><a href="/about/{{detail.sitedir}}?id={{detail.about_id}}">{{lang('关于我们',detail.language)}}</a></li>
            <li><a href="/contact/{{detail.sitedir}}?id={{detail.contact_id}}">{{lang('联系我们',detail.language)}}</a></li>
            <li><a href="/privacy/{{detail.sitedir}}?id={{detail.privacy_id}}">{{lang('隐私协议',detail.language)}}</a></li>
            <li><a href="/terms/{{detail.sitedir}}?id={{detail.terms_id}}">{{lang('服务条例',detail.language)}}</a></li>
            <li><a href="/service/{{detail.sitedir}}?id={{detail.service_id}}">{{lang('退换货政策',detail.language)}}</a></li>
        </ul>
    </div>
</div>
<div class="main_content">
    <div class="main_left">
        <div class="goods_site_name" v-html="detail.sitename"></div>
        <div class="goods_site_desc" v-html="detail.sitedesc"></div>
        <div class="goods_price_bar">
            <div class="goods_price"><strong>{{detail.money+' '+detail.price}}</strong>
                <span class="goods_old_price">参考价格{{detail.money + detail.oldprice}} </span></div>
            <div class="goods_sales"><strong class="sales">{{detail.saleno}}</strong> 件已售</div>
        </div>
        <div class="swiper-container" id="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-if="detail.head_video" v-html="detail.head_video"></div>
                <div class="swiper-slide" v-for="item in detail.head_imgs"><img :src="[[cdnbase+item]]"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="details_panel" style="overflow-x: hidden">
            <div class="details_panel_hd">商品详情</div>
            <div class="details_panel_bd" v-html="detail.GoodsContent.content">
            </div>
        </div>
    </div>
    <div class="main_right">
        <div class="spec_Info">
            <div class="prod_Desc">
                <div class="spec_price"><span class="price" id="goods_price">{{detail.money}} {{detail.price}}</span>
                </div>
                <div class="spec_desc">已选择：<span id="spec-goods">{{detail.GoodsSpecs.length>0?detail.GoodsSpecs[0].name:''}}</span></div>
            </div>
            {{#if(detail.saleoff_arr)}}
            <div class="saleoff_info">
                {{#each(detail.saleoff_arr)}}
                <span >{{lang("购满",detail.language)}} {{this.salecount}} {{lang("件",detail.language)}},{{lang("立减",detail.language)}} {{(detail.money + this.offprice)}};</span>
                {{/each}}
            </div>
           {{/if}}
            <!--商品-->
            <div id="product-spec">
                <div v-for="(prod,index1) in prods">
                    <div class="product_item">
                        <div class='close rt' v-show="close(index1)" @click='close_spec()'><img src='http://static.seezt.cc/theme/jd/images/icon/15.png'></div>
                        <div class="spec_Title"><span>[[index1+1]]</span>{{lang('件',detail.language)}}[[detail.option1_name]]<i style="font-style:normal;margin-left:10px;" v-for="item in count_info" v-if="(index1+1)===item.count">[[item.name]]</i></div>
                        <div class="spec_List user-name">
                            <div class="spec_Item opt1 ks" @click="(option1_show||item.inventory!==0)&&select_specitem_nocart(item,index1+1)" :class="{active:prods[index1].specname===item.name&&(option1_show||item.inventory!==0),disable:!option1_show&&item.inventory===0}"  v-for="(item,index) in detail.specs.name_list">
                                <div class="sticky"></div>
                                <div >
                                    <img v-if="item.img" :src="item.img?cdnbase+item.img:''"  >
                                </div>
                                <span v-if="item.inventory==0&&!item.option1&&!item.option2" class="oos">[[item.option1]]{{lang('[缺货中]',detail.language)}}</span>
                                <span v-else :class="{active2:prods[index1].specname===item.name}" :class="">[[item.name]]</span>
                            </div>
                        </div>
                        <!--一级规格-->
                        <div v-show="option1_show">
                            <div class="spec_Title"><span>[[index1+1]]</span>{{lang('件',detail.language)}}[[detail.option2_name]]</div>
                            <div class="spec_List option1 xh spec">
                                <div class="option_Item opt2" :class="{active:check_option1_active(item,index1),disable:check_option1_disable(item,index1)||stockout1(item,index1+1)}" :disabled="check_option1_disable(item,index1)||stockout1(item,index1+1)" v-for="(item,index) in detail.specs.option1_list" @click="select_option1_nocart(item,index1+1);">
                                    <span v-if="stockout1(item,index1+1)" class="oos">[[item.option1]]{{lang('[缺货中]',detail.language)}}</span>
                                    <span v-else>[[item.option1]]</span></div>
                            </div>
                        </div>
                        <!--二级规格-->
                        <div v-show="option2_show">
                            <div class="spec_Title">*<span>[[index1+1]]</span>{{lang('件',detail.language)}}[[detail.option3_name]]</div>
                            <div class="spec_List option2 spec">
                                <div class="option_Item opt3"  :class="{active:check_option2_active(item,index1)&&stockout2(item,index1+1)==false,disable:check_option2_disable(item,index1)||stockout2(item,index1+1)}" :disabled="check_option2_disable(item,index1)||stockout2(item,index1+1)" v-for="(item,index) in detail.specs.option2_list"  @click="select_option2_nocart(item,index1+1);">
                                    <span v-if="stockout2(item,index1+1)" class="oos">[[item.option2]]{{lang('[缺货中]',detail.language)}}</span>
                                    <span v-else>[[item.option2]]</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--赠品规格选择-->
            <div id="gifts" v-if="giftLength">
                <div style="padding:10px 0;font-size:1.2rem;">{{lang('赠品区域',detail.language)}}</div>
                <div v-for="(num,index2) in giftLength">
                    <div style="font-size:1.2rem;margin-bottom:1.2rem;">{{lang('第',detail.language)}}<span>[[num]]</span>{{lang('件',detail.language)}}</div>
                    <div  v-for="(gift,index1) in detail.giftGoods">
                        <div class="spec_Title">
                           [[gift.sitename]]
                        </div>
                        <div class="spec_List user-name">
                            <div class="spec_Title">
                                [[gift.option1_name]]
                            </div>
                            <div class="spec_Item opt1 ks" @click="select_giftspec(item,index1,num)"  v-for="(item,index) in detail.giftGoodsSpecs[index1].giftName_list" :class="{active:giftSelect[index1][num-1].specname===item.name}">
                                <div class="sticky"></div>
                                <div >
                                    <img v-if="item.img" :src="item.img?cdnbase+item.img:''"/>
                                </div>
                                <span>[[item.name]]</span>
                            </div>
                        </div>
                        <!--一级规格-->
                        <div v-if="detail.giftGoodsSpecs[index1].giftOption1_list.length>0">
                            <div class="spec_Title">[[gift.option2_name]]</div>
                            <div class="spec_List option1 xh spec">
                                <div class="option_Item opt2" :class="{active:check_giftOption1_active(item,index1,num),disable:check_giftOption1_disable(item,index1,num)}"  v-for="(item,index) in detail.giftGoodsSpecs[index1].giftOption1_list"  @click="select_giftoption1(item,index1,num);">
                                    <span>[[item.option1]]</span></div>
                            </div>
                        </div>
                        <!--二级规格-->
                        <div v-if="detail.giftGoodsSpecs[index1].giftOption2_list.length>0">
                            <div class="spec_Title">[[gift.option3_name]]</div>
                            <div class="spec_List option2 spec">
                                <div class="option_Item opt3" :class="{active:check_giftOption2_active(item,index1,num),disable:check_giftOption2_disable(item,index1,num)}"  v-for="(item,index) in detail.giftGoodsSpecs[index1].giftOption2_list" @click="select_giftoption2(item,index1,num);">
                                    <span>[[item.option2]]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--赠品结束-->
            <div class="spec_Btns">
                <a href="javascript:add_cart();" class="btn btn-warning">{{lang('加入购物车',detail.language)}}</a>
                <a href="javascript:add_cart(1);" class="btn btn-danger">
                    <span style="position: relative;"><i class="order-numbers cartNum"></i>{{lang('立即购买',detail.language)}}</span>
                </a>
            </div>
        </div>
        <div class="details_panel">
            <div class="details_panel_hd">{{lang('查询订单信息',detail.language)}}</div>
            <div class="details_panel_bd am-form">
                <div class="am-form-group">
                    <input type="text" id="expressinfo" class="" placeholder="{{lang['请输入收货人姓名或手机进行查询']}}">
                    <span class="am-input-group-btn"><span class="btn btn-danger find-btn" @click="find_order()">{{lang('查询',detail.language)}}</span></span>
                </div>
                <ul id="find_result" class="comment_ul"></ul>
            </div>
        </div>
        <div class="details_panel" v-if="detail.body_ads">
            <div class="details_panel_hd">{{lang('猜你喜欢',detail.language)}}</div>
            <div class="details_panel_bd">
                <ul id="like_goods_body_ul">
                    <li  v-for="item in detail.body_ads">
                        <a :href="'/'+item.sitedir">
                            <div><img :src="item.head_imgs?cdnbase+item.head_imgs.split(';')[0]+'-300':''"></div>
                            <div class="site_price">[[item.money]] [[item.price]]<del>[[item.money]] [[item.oldprice]]</del></div>
                            <div class="site_name">[[item.sitename]]</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="cart-box-fixed">
        <div>
            <a class="cart-btn" href="javascript:add_cart();">
                <em class="btm-act-icn">
                    <i class="order-numbers cartNum"></i>
                </em>
                <span class="btn_text">{{lang['购物车']}}</span>
            </a>
            <a class="facebook-btn" :href="fblink" v-if="fblink" target="_blank">
                <em class="btm-act-icn"></em>
                <span class="btn_text">Facebook</span>
            </a>
            <a class="line-btn" :href="linelink" v-if="linelink" target="_blank">
                <em class="btm-act-icn"></em>
                <span class="btn_text">Line</span>
            </a>
            <a class="whatsapp-btn"  :href="whatsapplink" target="_blank">
                <em class="btm-act-icn"></em>
                <span class="btn_text">WhatsApp</span>
            </a>
        </div>
    </div>
</div>
<div class="main_footer">
    <div>
        <ul class="footer_tabs">
            <li><a href="/about/{{detail.sitedir}}?id={{detail.about_id}}">{{lang('关于我们',detail.language)}}</a></li>
            <li><a href="/contact/{{detail.sitedir}}?id={{detail.contact_id}}">{{lang('联系我们',detail.language)}}</a></li>
            <li><a href="/privacy/{{detail.sitedir}}?id={{detail.privacy_id}}">{{lang('隐私协议',detail.language)}}</a></li>
            <li><a href="/terms/{{detail.sitedir}}?id={{detail.terms_id}}">{{lang('服务条例',detail.language)}}</a></li>
            <li><a href="/service/{{detail.sitedir}}?id={{detail.service_id}}">{{lang('退换货政策',detail.language)}}</a></li>
        </ul>
    </div>
    <p>Copyright © 2018 All Rights Reserved.</p>
</div>
<div class="am-popup" id="cartWin">
    <div class="popup_content">
        <span class="closeBtn" onclick="hide_cartwin();"></span>
        <div class="details_panel">
            <div class="details_panel_hd">{{lang('购物车',detail.language)}}</div>
            <div class="details_panel_bd">
                <div id="goods_list"></div>
                {{#if(detail.saleoff_arr)}}
                <div class="saleoff_info">
                    {{#each(detail.saleoff_arr)}}
                    <span>{{lang("购满",detail.language)}} {{this.salecount}} {{lang("件",detail.language)}},{{lang("立减",detail.language)}} {{(detail.money + this.offprice)}};</span>
                    {{/each}}
                </div>
                {{/if}}
                <table class="price_info text_14">
                    <tr>
                        <td>{{lang('偏远快递费',detail.language)}}</td>
                        <td><div id="yunMoney"></div></td>
                    </tr>
                    <tr>
                        <td>{{lang('合计',detail.language)}}：</td>
                        <td id="allprice"><span></span></td>
                    </tr>
                    <tr>
                        <td>{{lang('数量',detail.language)}}：</td>
                        <td id="allCount"><span></span></td>
                    </tr>
                    <tr id="many_discount" style="display:none;">
                        <td>{{lang('多件优惠',detail.language)}}：</td>
                        <td id="manyoff"><span></span></td>
                    </tr>
                    <tr id="saleoffprice_div" style="display:none;">
                        <td>{{lang('满减优惠',detail.language)}}：</td>
                        <td id="saleoffprice"><span></span></td>
                    </tr>
                    <tr id="moneyprice" style="display:none;">
                        <td>{{lang('价格满减',detail.language)}}：</td>
                        <td id="price_money"><span></span></td>
                    </tr>
                    <tr>
                        <td>{{lang('实付金额',detail.language)}}：</td>
                        <td class="text_bold text_15" id="realprice"><span></span></td>
                    </tr>
                </table>
                {{#if(detail.order_ads)}}
                <div style="margin-left: 190px;padding-top: 5px;">{{lang('猜你喜欢',detail.language)}}</div>
                <ul id="like_goods_order_ul">
                    {{#each(detail.order_ads)}}
                    <li>
                        <a href="/{{this.sitedir}}">
                            {{set (imgs = this.head_imgs.split(';'))}}
                            <div><img src="{{imgs[0]?cdnbase+imgs[0]+'-300':''}}"></div>
                            <div class="site_price">{{this.money +' '+ this.price}}<del>{{this.money +' '+ this.oldprice}}</del></div>
                            <div class="site_name">{{this.sitename}}</div>
                        </a>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
                <div class="order_info">
                    <form id="user_form" class="am-form">
                        <div class="am-form-group">
                            <span style="margin-left:20.5%;padding:5px 0;color:#f86161;">{{detail.order_prompt_info}}</span>
                        </div>
                        <div class="am-form-group">
                            <label for="clientname">{{lang('收货人',detail.language)}}</label>
                            <div>
                                <input type="text" id="clientname" placeholder="{{lang('必填',detail.language)}}">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="clientphone">{{lang('联系电话',detail.language)}}</label>
                            <div>
                                <input type="text" id="clientphone" placeholder="{{lang('必填',detail.language)}}">
                            </div>
                        </div>
                        {{#if(detail.money!=='￥'&&detail.money!=='S$'&&detail.money!=='円')}}
                        <div class="am-form-group">
                            <label for="city">{{lang('城市',detail.language)}}</label>
                            <div>
                                <select class="select" id="city" onchange="select_change(this,'#area')"></select>
                                <select class="select" id="area" onchange="select_change(this, null)"></select>
                            </div>
                        </div>
                        {{/if}}
                        {{#if(detail.money==='円')}}
                        <div class="am-form-group" v-if="detail.money==='円'">
                            <label for="city" class="province">{{lang('城市',detail.language)}}</label>
                            <div>
                                <select class="select" id="city"></select>
                                <input type="text" id="area" placeholder="{{lang('市区町村',detail.language)}}">
                            </div>
                        </div>
                        {{/if}}
                        <div class="am-form-group">
                            <label for="clientaddress">{{lang('地址',detail.language)}}</label>
                            <div>
                                <input type="text" id="clientaddress" placeholder="{{lang('必填',detail.language)}}">
                            </div>
                        </div>
                        <div class="am-form-group {{(detail.money==='S$'||detail.money==='RM'||detail.money==='฿'||detail.money==='円')?'':'hide'}}" id="zipcode_div">
                            <label for="clientzipcode">{{lang('邮编',detail.language)}}</label>
                            <div>
                                {{#if(detail.money==='RM'||detail.money==='฿')}}
                                <select  id="clientzipcode" onchange="mark && changeCode()"></select>
                                {{/if}}
                                {{#if(detail.money==='S$'||detail.money==='円')}}
                                <input type="tel"  id="clientzipcode" placeholder="{{lang('必填',detail.language)}}" onchange="mark && changeCode()"/>
                                {{/if}}
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="clientemail">{{lang('E-Mail',detail.language)}}</label>
                            <div>
                                <input type="email" id="clientemail">
                            </div>
                        </div>
                        <div class="am-form-group" style="display:none;">
                            <label for="clientdispatchtime">{{lang('收货时间',detail.language)}}</label>
                            <div>
                                <select id="clientdispatchtime">
                                    <option value="任何时间">{{lang('任何时间',detail.language)}}</option>
                                    <option value="工作日">{{lang('工作日',detail.language)}}</option>
                                    <option value="休息日">{{lang('休息日',detail.language)}}</option>
                                    <option value="其他时间">{{lang('其他时间(请备注)',detail.language)}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="clientotherinfo">{{lang('备注',detail.language)}}</label>
                            <div>
                                <textarea id="clientotherinfo" placeholder="{{lang('其他要求请备注',detail.language)}}"></textarea>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label>{{lang('支付方式',detail.language)}}</label>
                            <div>
                                <input class="radio" type="radio" checked="checked">
                                <span class="ch-custom-radio"></span>
                                <span class="ch-custom-label">{{lang('货到付款',detail.language)}}</span>
                            </div>
                        </div>
                        <div class="am-form-group" id="pianyuan">
                            <label ></label>
                            <div>
                            </div>
                        </div>
                        <div class="text_bold">
                            <div onclick="hide_cartwin();" class="btn btn-warning backcart_btn">{{lang('返回凑单',detail.language)}}</div>
                            <div @click="submit_order_nocart();" class="btn btn-danger order_btn" id="d1"> {{lang('提交订单',detail.language)}}</div>
                        </div>
                    </form>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>
<div class="am-popup" id="successWin">
    <div class="popup_bg" @click="hide_successwin();"></div>
    <div class="popup_content">
        <span class="closeBtn" @click="hide_successwin();location.reload();"></span>
        <div class="main_title am-text-center am-text-xl am-text-success">
            <em class="ok">&nbsp;</em>{{lang('下单成功',detail.language)}}
        </div>
        <div class="main_orderinfo">
            <div>{{lang('订单号',detail.language)}}：<span class="am-text-danger" id="orderid"></span></div>
            <div>{{lang('收货人',detail.language)}}：<span id="order_clientname"></span></div>
            <div>{{lang('实付金额',detail.language)}}：<span class="am-text-danger" id="orderprice"></span></div>
            <div>{{lang('联系电话',detail.language)}}：<span id="order_clientphone"></span></div>
            <div>{{lang('地　址',detail.language)}}：<span id="order_clientaddress"></span></div>
        </div>
        <p class="main_warninfo am-text-warning">
            ★ {{lang('1.我们采用专业配送！如果配送时您临时不在，请等待配送员打电话给您，改约收件时间即可。',detail.language)}}<br>
            ★ {{lang('2.在您收到货品后若有任何疑问，请FB、Line联络或者email联络我们，我们将立即为您处理哦！',detail.language)}}<br>
        </p>
        {{#if(detail.home_id)}}
        <a class="btn" href="../home/{{detail.home_select}}">{{lang('继续浏览',detail.language)}}</a>
        {{else}}
        <a class="btn" href="/{{detail.sitedir}}">{{lang('继续浏览',detail.language)}}</a>
        {{/if}}
    </div>
</div>
<div id="fb-root"></div>
</div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/{{detail.languagecode}}/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    var appData = {
        sitedir: '{{detail.sitedir}}',
        language:'{{detail.language}}',
        chaport_id:"{{detail.chaport_id?detail.chaport_id:detail.User.chaport_id}}",
        chaport_switch:"{{detail.chaport_switch}}"
    };

    var deleteStr='{{lang("删除",detail.language)}}';
    var selectStr='{{lang("请您先选择商品",detail.language)}}';
    var selectGiftStr='{{lang("请您先选择赠品",detail.language)}}';
    var confirmContent="{{lang('请选择去下单还是继续浏览',detail.language)}}";
    var btn1 = "{{lang('立即结算',detail.language)}}";
    var btn2 = "{{lang('继续浏览',detail.language)}}";
    var ordertimeStr = "{{lang('下单时间',detail.language)}}";
    var orderidStr = "{{lang('订单号',detail.language)}}";
    var ordernameStr = "{{lang('收货人',detail.language)}}";
    var orderaddressStr = "{{lang('地　址',detail.language)}}";
    var nameStr = "{{lang('请输入收货人姓名',detail.language)}}";
    var PhoneStr = "{{lang('请填写正确的电话号码',detail.language)}}";
    var cityStr = "{{lang('请选择您所在的城市',detail.language)}}";
    var areaStr = "{{lang('请选择您的所在的区县',detail.language)}}";
    var addressStr = "{{lang('请填写收货地址',detail.language)}}";
    var postcodeStr = "{{lang('请填写邮编',detail.language)}}";
    var emailStr = "{{lang('请填写正确的电邮地址',detail.language)}}";
    var submitingStr = "{{lang('提交订单中，请稍侯',detail.language)}}";
    var submiterrorStr = "{{lang('提交失败，请重新尝试或联系客服',detail.language)}}";
    var findStr = "{{lang('请输入您的订单号，收货电话或收货人姓名',detail.language)}}";
    var findbtnStr = "{{lang('查询',detail.language)}}";
    var orderError="{{lang('订单不存在',detail.language)}}";
    var commentStr="{{lang('请填写评论内容',detail.language)}}";
    var submitComment="{{lang('请填写评论内容',detail.language)}}";
    var giftStr='{{lang("赠品",detail.language)}}';
    var selectOos="{{lang('此商品缺货中，请选择其他商品',detail.language)}}";
    var oos="{{lang('[缺货中]',detail.language)}}";
    var remoteMess1="{{lang('此地区为快递无法送达区域，请选择其他区域收件',detail.language)}}";
    var remoteMess2 = "{{lang('此地区为快递偏远地区，需由快递公司另外加收快递费送达，快递费：',detail.language)}}";
    var messMoney = "{{lang('偏远快递费',detail.language)}}"
</script>
<!-- Begin of Chaport Live Chat code -->
<script type="text/javascript">
    if(appData.chaport_switch==="1"&&appData.chaport_id){
        (function(w,d,v3){
            w.chaportConfig = { appId:appData.chaport_id };
            if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
    }
</script>
<!-- End of Chaport Live Chat code -->
<script src="/js/cartmain.js"></script>
<script src="/js/common.js"></script>
<script src="/js/showpopup.js"></script>
<script src="/js/cart.js"></script>
<script src="/js/spec.js"></script>
<script src="/theme/{{detail.template}}/js/index.js"></script>
<script src="/js/vue_spec.js"></script>
<script>
    init_cart();
    init_Select(appData.money,'','#city');
    init_swiper();
</script>
<div style="display: none;">
    {{{detail.GoodsCode.kfcode}}}
    {{{detail.GoodsCode.tjcode}}}
    {{#each(detail.adcode)}}
    {{{this.code}}}
    {{/each}}
    {{#each(detail.othercode)}}
    {{{this.code}}}
    {{/each}}
</div>
</body>
</html>