<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{detail.sitename}}</title>
    <base href="/{{detail.sitedir}}">
    <link rel="stylesheet" href="http://static.seezt.cc/shop/css/swiper-3.4.2.min.css">

    <link rel="stylesheet" href="/theme/{{detail.template}}/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="http://static.seezt.cc/shop/js/jquery.1.8.3.min.js"></script>
    <script type="text/javascript">
        !window.jQuery && document.write('<script src="/js/jquery.1.8.3.min.js"><\/script>');
    </script>
    <script src="http://static.seezt.cc/shop/js/layer.and.lazyload.js"></script>
    <script src="http://static.seezt.cc/shop/js/A.C.js"></script>
    <script src="http://static.seezt.cc/shop/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="/js/jquery.pagination.js"></script>
    {{{detail.GoodsCode.ggcode}}}
    {{#each(detail.adcode)}}
    {{{this.headcode}}}
    {{/each}}
    {{#each(detail.othercode)}}
    {{{this.headcode}}}
    {{/each}}
</head>
<body>
<div id="app" v-cloak>
    <div class="wrap">
        <!--头部-->
        <header>
            <div>
                <p>
                    <a href="#track" style="color: white;">{{lang('订单查询',detail.language)}}</a>
                </p>
            </div>
        </header>
        <!--内容-->
        <div class="content" >
            <!--轮播以及产品套餐-->
            <div class="product clear">
                <div class="pro_left">
                    <div id="home_slider">
                        <div class="swiper-container" style="margin-bottom: 10px">
                            <div class="swiper-wrapper">
                                <div v-if="detail.head_video" class="swiper-slide" v-html="detail.head_video"></div>
                                <div v-for="item in detail.head_imgs" class="swiper-slide"><img :src="cdnbase+item"></div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div sty>

                        <div v-for="item in detail.head_imgs" style="display: inline-block;margin-right: 10px"><img :src="cdnbase+item" style="width: 70px;height: 70px;"></div>
                    </div>
                    <!-- 如果需要分页器 -->

                </div>
                <div class="pro_right">
                    <div v-html=" detail.sitedesc"></div>
                    <div class="pro_price">
                        <h3>[[detail.money]][[package_price]] <span class=" remaining"><span></span></span></h3>
                        <p> <span>{{lang('原价',detail.language)}}:[[detail.money]][[detail.oldprice]]</span> <span style="float: right;color: #666;" id="countdown">{{lang('时间剩余',detail.language)}}:&nbsp; <mark style="color: black">[[d]]{{lang('天',detail.language)}}[[h]]{{lang('时',detail.language)}}[[m]]{{lang('分',detail.language)}}[[s]]{{lang('秒',detail.language)}}</mark></span></p>
                    </div>
                    <div class="view_panel_bd am-form" id="track">
                        <div style="font-weight: 700;font-size: 16px;color: red;margin-top: 5px;padding-top: 10px">{{lang('查询订单信息',detail.language)}}</div>
                        <div class="am-form-group">
                            <input type="text" id="expressinfo" v-model="expressinfo" placeholder="{{lang('请输入您的订单号，收货电话或收货人姓名',detail.language)}}" style="vertical-align: baseline">
                            <span class="am-input-group-btn">
            <button class="btn btn-danger find-btn" @click="find_order()">{{lang('查询',detail.language)}}</button>
        </span>
                        </div>
                        <ul id="find_result" class="comment_ul">
                            <li v-if="orders.length>0" style="position: relative;border-bottom: none;" @click="close_orderinfo()" >
                                <span class="closeBtn" style="top:-2px;"></span>
                            </li>
                            <li class="am-padding-xs am-text-sm" v-for="item in orders">
                                <div>{{lang('下单时间',detail.language)}} ：<span>[[item.ordertime]]</span></div>
                                <div>{{lang('订单号',detail.language)}} ：<span>[[item.orderid]]</span><span class="am-fr am-text-danger">[[item.orderstate]]</span></div>
                                <div>{{lang('收货人',detail.language)}} ：<span>[[item.clientname]] ([[item.clientphone]])</span></div>
                                <div>{{lang('地　址',detail.language)}} ：<span>[[item.clientaddress]]</span></div>
                                <div class="am-padding-xs" v-for="goods in item.OrderGoods">
                                    <div>[[goods.goodsname]] [[goods.specname]] [[goods.option1]] [[goods.option2]] X [[goods.number]]</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="package">
                            <div class="tc">[[detail.option3_name]]</div>
                            <div v-for="(many,index) of manyoff" style="display: inline-block;margin-right: 10px">
                                <div @click="No1(many.salecount,many.giftcount,many.price)" :class="{active1:item==many.salecount}"
                                     class="o">[[many.name]]
                                </div>
                            </div>
                        </div>
                        <div class="ev_content clear">
                            <div class="mC" style="padding-bottom: 15px">
                                <div class="view_panel_bd" id="buy">
                                    <div class="spec_Info">
                                        <div class="spec_Groups">
                                            <!--主规格-->
                                            <div id="product-spec">
                                                <h4 v-html="detail.sitedesc"></h4>
                                                <div v-for="(prod,index1) in prods">
                                                    <div class="product_item">
                                                        <div class="spec_Title"><span>[[index1+1]]</span>{{lang('件',detail.language)}}[[detail.option1_name]]<i
                                                                style="font-style:normal;margin-left:10px;"
                                                                v-for="item in count_info" v-if="(index1+1)===item.count">[[prods.specname]]</i>
                                                        </div>
                                                        <div class="spec_List user-name">
                                                            <div class="spec_Item opt1 ks"
                                                                 :class="{active1:prods[index1].specname===item.name&&(option1_show||item.inventory!==0),disable:!option1_show&&item.inventory===0}"
                                                                 @click="(option1_show||item.inventory!==0)&&select_specitem_nocart(item,index1+1)"
                                                                 v-for="(item,index) in detail.specs.name_list">
                                                                <div class="i">
                                                                    <img v-if="item.img" :src="item.img?cdnbase+item.img:''">
                                                                </div>
                                                                <span v-if="item.inventory==0&&!item.option1&&!item.option2"
                                                                      class="oos">[[item.option1]]{{lang('[缺货中]',detail.language)}}</span>
                                                                <span v-else
                                                                      :class="{active2:prods[index1].specname===item.name}"
                                                                      :class="">[[item.name]]</span>
                                                            </div>
                                                        </div>
                                                        <!--一级规格-->
                                                        <div v-show="option1_show">
                                                            <div class="spec_Title"><span>[[index1+1]]</span>{{lang('件',detail.language)}}[[detail.option2_name]]
                                                            </div>
                                                            <div class="spec_List option1 xh spec">
                                                                <div class="option_Item opt2"
                                                                     :class="{active1:check_option1_active(item,index1),disable:check_option1_disable(item,index1)||stockout1(item,index1+1)}"
                                                                     :disabled="check_option1_disable(item,index1)||stockout1(item,index1+1)"
                                                                     v-for="(item,index) in detail.specs.option1_list"
                                                                     @click="select_option1_nocart(item,index1+1);"><span
                                                                        v-if="stockout1(item,index1+1)" class="oos">[[item.option1]]{{lang('[缺货中]',detail.language)}}</span>
                                                                    <span v-else>[[item.option1]]</span></div>
                                                            </div>
                                                        </div>
                                                        <!--二级规格-->
                                                        <div v-show="option2_show">
                                                            <div class="spec_Title">*<span>[[index1+1]]</span>{{lang('件',detail.language)}}[[detail.option3_name]]
                                                            </div>
                                                            <div class="spec_List option2 spec">
                                                                <div class="option_Item opt3"
                                                                     :class="{active1:check_option2_active(item,index1)&&stockout2(item,index1+1)==false,disable:check_option2_disable(item,index1)||stockout2(item,index1+1)}"
                                                                     :disabled="check_option2_disable(item,index1)||stockout2(item,index1+1)"
                                                                     v-for="(item,index) in detail.specs.option2_list"
                                                                     @click="select_option2_nocart(item,index1+1);"><span
                                                                        v-if="stockout2(item,index1+1)" class="oos">[[item.option2]]{{lang('[缺货中]',detail.language)}}</span>
                                                                    <span v-else>[[item.option2]]</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--赠品规格选择-->
                                            <div id="gifts" v-if="giftLength">
                                                <div style="padding:10px 0;font-size:1.2rem;">{{lang('赠品区域',detail.language)}}
                                                </div>
                                                <div v-for="(num,index2) in giftLength" class="gifts">
                                                    <div style="font-size:1.2rem;margin-bottom:1.2rem;">
                                                        {{lang('第',detail.language)}}<span>[[num]]</span>{{lang('件',detail.language)}}
                                                    </div>
                                                    <div v-for="(gift,index1) in detail.giftGoods">
                                                        <div style="font-size:1rem;margin-bottom:1rem;"> [[gift.sitename]]</div>
                                                        <div class="spec_Title">[[gift.option1_name]]</div>
                                                        <div class="spec_List user-name">
                                                            <div class="spec_Item opt1 ks"
                                                                 :class="{active1:giftSelect[index1][num-1].specname===item.name}"
                                                                 @click="select_giftspec(item,index1,num)"
                                                                 v-for="(item,index) in detail.giftGoodsSpecs[index1].giftName_list">
                                                                <div class="i">
                                                                    <img v-if="item.img" :src="item.img?cdnbase+item.img:''">
                                                                </div>
                                                                <span>[[item.name]]</span>
                                                            </div>
                                                        </div>
                                                        <!--一级规格-->
                                                        <div v-if="detail.giftGoodsSpecs[index1].giftOption1_list.length>0">
                                                            <div class="spec_Title">[[gift.option2_name]]</div>
                                                            <div class="spec_List option1 xh spec">
                                                                <div class="option_Item opt2"
                                                                     :class="{active1:check_giftOption1_active(item,index1,num),disable:check_giftOption1_disable(item,index1,num)}"
                                                                     :disabled="check_giftOption1_disable(item,index1,num)"
                                                                     v-for="(item,index) in detail.giftGoodsSpecs[index1].giftOption1_list"
                                                                     @click="select_giftoption1(item,index1,num);">
                                                                    <span>[[item.option1]]</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--二级规格-->
                                                        <div v-if="detail.giftGoodsSpecs[index1].giftOption2_list.length>0">
                                                            <div class="spec_Title">[[gift.option3_name]]</div>
                                                            <div class="spec_List option2 spec">
                                                                <div class="option_Item opt3"
                                                                     :class="{active1:check_giftOption2_active(item,index1,num),disable:check_giftOption2_disable(item,index1,num)}"
                                                                     :disabled="check_giftOption2_disable(item,index1,num)"
                                                                     v-for="(item,index) in detail.giftGoodsSpecs[index1].giftOption2_list"
                                                                     @click="select_giftoption2(item,index1,num);">
                                                                    <span>[[item.option2]]</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <ul class="label">
                        <li>
                            <span>●</span>{{lang('购物无忧',detail.language)}}
                        </li>
                        <li>
                            <span>●</span>{{lang('线上快速订购',detail.language)}}
                        </li>
                        <li>
                            <span>●</span>{{lang('时间有限，抢购从速',detail.language)}}
                        </li>
                        <li>
                            <span>●</span>{{lang('7天鉴赏期',detail.language)}}
                        </li>
                    </ul>
                    <div class="sub" @click="one_submit()">
                        <button>{{lang('确认下单',detail.language)}}</button>
                    </div>
                </div>
            </div>
            <!--产品详情+评价-->
            <div class="product1">
                <div class="pro1_left" v-html="detail.GoodsContent.content"></div>
                <div class="pro1_right">
                    <!--分页效果-->
                    <div class="page" id="evaluate">
                        <div class="page_title">{{lang('最新评价',detail.language)}}</div>
                        <div class="page_content show1 clear" >
                            <div v-if="commentList.length===0">{{lang('暂无评价',detail.language)}}</div>
                            <div class="page1"  v-for="com in commentList" v-if="commentList.length>0">
                                <div class="img"> {{lang('评价',detail.language)}}
                                    <img src="https://d1lnephkr7mkjn.cloudfront.net/ueditor/image/20171214/1513258096446933.png" alt="">
                                </div>
                                <div class="t1">
                                    <div class="name"> [[com.name]]
                                    </div>
                                </div>
                                <div class="p_c">
                                    [[com.body]]
                                </div>
                                <div class="comment_imgs" v-if="com.imgs">
                                    <img v-for="itemImg in (com.imgs.split(';'))" :src="cdnbase+[[itemImg]]" alt="">
                                </div>
                                <span style="float: right;color:#333">[[upDateTime]]</span>

                            </div>
                        </div >
                        <div class="page_n">
                            <div class="pagination" id="p1"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="submit clear" style="margin-bottom: 0">
            <!--<div class="submit_content">-->
            <div class="submit_left">
                <h2>{{lang('确认订单信息',detail.language)}}</h2>
                <mark style="color: #666;display: inline-block;margin: 10px 0">{{lang('请填写正确的手机号码，客服人员会通过电话与您联系！',detail.language)}}</mark>
                <h4>[[detail.order_prompt_info]]</h4>
                <!--收貨信息-->
                <div class="address">
                    <!--所在地-->
                    <div class="add_type" id="provinceDiv" v-if="detail.money!=='￥'&&detail.money!=='S$'&&detail.money!=='円'">
                        <div class="ad">
                            <select class="select" id="city" v-model="city"
                                    @change="init_Select_City(detail.money,city,'area')" id="city">
                                <option :value="item" :data-id="item.id" v-for="item in cityData">[[item.name]]</option>
                            </select>
                        </div>
                    </div>
                    <div class="add_type" v-if="detail.money!=='￥'&&detail.money!=='S$'&&detail.money!=='円'">
                        <div class="ad">
                            <select class="select" id="area" v-model="area"
                                    @change="init_Select_City(detail.money,area,'code')" id="area">
                                <option :value="item" :data-id="item.id" v-for="item in areaData">[[item.name]]</option>
                            </select>
                        </div>
                    </div>
                    <div class="add_type" v-if="detail.money==='円'">
                        <label  class="province"><mark class="require">*</mark>{{lang('城市',detail.language)}}</label>
                        <div class="ad">
                            <select class="select" v-model="clientinfo.city">
                                <option :value="item.name" :data-id="item.id" v-for="item in cityData" >[[item.name]]</option>
                            </select>
                        </div>

                    </div>
                    <div class="add_type" v-if="detail.money==='円'">
                        <label  class="province"><mark class="require">*</mark>{{lang('区县',detail.language)}}</label>
                        <input type="text" class="necessary  text-left" v-model="clientinfo.area"
                               placeholder="{{lang('必填',detail.language)}}" required>
                    </div>
                    <!--詳細地址-->
                    <div class="add_type">
                        <input type="text" placeholder="{{lang('地址',detail.language)+lang('必填',detail.language)}}"
                               name="address1" v-model="clientinfo.clientaddress" id="clientaddress">
                    </div>
                    <!--邮编-->
                    <div class="add_type" v-if="detail.money==='S$'||detail.money==='RM'||detail.money==='฿'||detail.money==='円'">
                        <div>
                            <select v-if="detail.money==='RM'||detail.money==='฿'" v-model="clientinfo.clientzipcode"
                                    style="width: 100%;height:56px;border: none;background: #f6f6f6"
                                    id="clientzipcode" @change="mark && changeCode(detail.money);">
                                <option :value="item.displayName" v-for="item in codeData">[[item.displayName]]</option>
                            </select>
                            <input type="tel" v-if="detail.money==='S$'||detail.money==='円'"
                                   placeholder="{{lang('邮编',detail.language)}}{{lang('必填',detail.language)}}"
                                   v-model="clientinfo.clientzipcode" style="width: 100%;background: #f6f6f6" id="clientzipcode" @change="mark && changeCode(detail.money);"/>
                        </div>
                    </div>
                    <!--姓名-->
                    <div class="add_type" style="display: inline-block;width: 49%">
                        <input type="text" placeholder="{{lang('收货人',detail.language)+lang('必填',detail.language)}}"
                               name="firstname" v-model="clientinfo.clientname" id="clientname">
                    </div>
                    <!--手機-->
                    <div class="add_type" style="display: inline-block;width: 50%">
                        <input type="text" placeholder="{{lang('联系电话',detail.language)+lang('必填',detail.language)}}"
                               name="telephone" v-model="clientinfo.clientphone" id="clientphone">
                    </div>
                    <!--邮箱-->
                    <div class="add_type">
                        <input type="text" placeholder="{{lang('E-Mail',detail.language)}}" name="email"
                               v-model="clientinfo.clientemail" id="clientemail">
                    </div>
                    <!--留言-->
                    <div class="add_type">
                        <textarea placeholder="{{lang('备注',detail.language)+':'+lang('其他要求请备注',detail.language)}}"
                                  name="notes" v-model="clientinfo.clientotherinfo"></textarea>
                    </div>
                    <!--货到付款-->
                    <div class="huo_m clear">
                        <label for="" style="display: inline-block;margin: 20px 0 10px">{{lang('付款方式',detail.language)}}</label>
                        <div style="background: #f6f6f6;height: 56px;line-height: 56px;padding-left: 5px"> <i class="car"></i>{{lang('货到付款',detail.language)}}<i class="true"  style="margin-left: 72%"></i></div>

                    </div>
                    <div v-if="flag2===1" style="text-align:center;">
                        <input type="checkbox" value="1" id="remote" v-modal="check" checked="checked" @click="getValue()"  data-am-ucheck style="-webkit-appearance: checkbox;">
                        <span style="color: #F86161;" >{{lang('此地区为快递偏远地区，需由快递公司另外加收快递费送达，快递费：',detail.language)}}<u>[[detail.money]][[extrapay]]</u></span><!--'//data1.cityMess.cityinfo.extrapay-->
                    </div>
                    <div v-if="flag2===0"  style="text-align:center;">
                        <span style="color: #F86161;" >{{lang('此地区为快递无法送达区域，请选择其他区域收件',detail.language)}}</span><!--'//data1.cityMess.cityinfo.extrapay-->
                    </div>
                </div>
            </div>
            <div class="submit_right" style="margin-bottom: 120px">
                <div class="right_title">
                    <span>{{lang('图片',detail.language)}}</span><span>{{lang('信息',detail.language)}}</span><span>{{lang('属性/数量',detail.language)}}</span>
                </div>
                <div class="infomation" v-for="pro in prods">
                    <div style="display: inline-block;width: 100px;height: 100px;vertical-align: top"><img v-if="pro.img" :src="cdnbase+pro.img" alt="" style="width: 100%"></div>
                    <div class="shop_info">
                        <span>[[pro.specname]] [[pro.option1]]&nbsp;[[pro.option2]]</span>
                        <p style="text-align: right">1</p>
                    </div>

                </div>
                <div style="padding: 20px 16px;border-bottom: 1px solid #eee">
                    <span style="text-align: right;width: 49%;display: inline-block" v-if="flag2===1">{{lang('偏远快递费',detail.language)}}</span>
                    <span style="text-align: right;width: 49%;display: inline-block" v-if="flag2===1">[[detail.money]][[extrapay]]</span>
                    <span style="text-align: right;width: 49%;display: inline-block">{{lang('商品合计',detail.language)}}</span>
                    <span style="text-align: right;width: 49%;display: inline-block">[[detail.money]][[package_price]]</span>
                </div>
                <div class="sub" @click="flag && submit_order_nocart()">
                    <button >{{lang('提交订单',detail.language)}}</button>
                </div>
            </div>
            <!--</div>-->
        </div>
        <div class="order_success clear" style="margin-bottom: 0">
            <!--<div class="submit_content">-->
            <div class="submit_left">
                <!--收貨信息-->
                <div class="address">
                    <h2>{{lang('订单详情',detail.language)}}</h2>
                    <mark style="color: #666;display: inline-block;margin: 10px 0">{{lang('2.在您收到货品后若有任何疑问，请FB、Line联络或者email联络我们，我们将立即为您处理！',detail.language)}}</mark>
                    <!--货到付款-->
                    <div class="huo_m clear">
                        <div style="background: #f6f6f6;height: 56px;line-height: 56px;padding-left: 10px"> {{lang('收货地址',detail.language)}}</div>
                        <div style="margin: 20px 0 10px">
                            <div>
                                <span style="margin-right: 10px">[[order_clientname]]</span><span>[[order_clientphone]]</span>
                            </div>
                            <div>[[order_clientaddress]]</div>
                        </div>
                    </div>
                    <div class="huo_m clear">
                        <div style="background: #f6f6f6;height: 56px;line-height: 56px;padding-left:10px"> {{lang('留言备注',detail.language)}}</div>
                    </div>
                    <div>
                        <span style="display: inline-block;background: #f6f6f6;height: 56px;line-height:56px;width: 50%;padding-left:10px">{{lang('订单号',detail.language)}}</span><span  style="display: inline-block;background: #f6f6f6;height: 56px;;line-height:56px;width: 50%;padding-left:10px">{{lang('下单时间',detail.language)}}</span>
                        <span class="ord">[[orderid]]</span><span class="ord"></span>
                    </div>
                </div>
            </div>
            <div class="submit_right" style="margin-bottom: 120px">
                <div class="right_title">
                    <span>{{lang('图片',detail.language)}}</span><span>{{lang('信息',detail.language)}}</span><span>{{lang('属性/数量',detail.language)}}</span>
                </div>
                <div class="infomation" v-for="pro in prods">
                    <div style="display: inline-block;width: 100px;height: 100px;"><img v-if="pro.img" :src="cdnbase+pro.img" alt="" style="width: 100%"></div>
                    <div class="shop_info">
                        <span>[[pro.specname]] [[pro.option1]]&nbsp;[[pro.option2]]</span>
                        <p style="text-align: right">1</p>
                    </div>
                </div>
                <div style="padding: 20px 16px;border-bottom: 1px solid #eee">
                    <span style="text-align: right;width: 49%;display: inline-block" v-if="flag2===1">{{lang('偏远快递费',detail.language)}}</span>
                    <span style="text-align: right;width: 49%;display: inline-block" v-if="flag2===1">[[detail.money]][[extrapay]]</span>
                    <span style="text-align: right;width: 49%;display: inline-block">{{lang('商品合计',detail.language)}}</span>
                    <span style="text-align: right;width: 49%;display: inline-block">[[detail.money]][[package_price+Number(extrapay)]]</span>
                </div>
                    <div class="continue">
                        <a v-if="detail.home_id" :href="'../home/'+detail.home_select+'/'+detail.username">{{lang('返回首页',detail.language)}}</a>
                        <a v-else href="javascript:void(0)">{{lang('返回首页',detail.language)}}</a>
                        <a  href="" @click="go_back">{{lang('继续浏览',detail.language)}}</a>
                    </div>
                    <div v-if="detail.body_ads">
                        <div class="view_panel_hd">{{lang('猜你喜欢',detail.language)}}</div>
                        <div class="view_panel_bd">
                            <ul id="like_goods_body_ul">
                                <li v-for="item in detail.body_ads">
                                    <a :href="'/'+item.sitedir">
                                        <div><img :src="item.head_imgs?cdnbase+item.head_imgs.split(';')[0]+'-300':''">
                                        </div>
                                        <div class="site_price">[[item.money]] [[item.price]]
                                            <del>[[item.money]] [[item.oldprice]]</del>
                                        </div>
                                        <div class="site_name">[[item.sitename]]</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
            <!--</div>-->

        </div>
        <!--尾部-->
        <footer style="position: absolute">
            <div class="main_f">
                <div class="main_footer">
                    <ul class="footer_tabs">
                        <li><a :href="'/about/'+detail.sitedir+'?id='+detail.about_id">{{lang('关于我们',detail.language)}}</a>
                        </li>
                        <li>
                            <a :href="'/contact/'+detail.sitedir+'?id='+detail.contact_id">{{lang('联系我们',detail.language)}}</a>
                        </li>
                        <li>
                            <a :href="'/privacy/'+detail.sitedir+'?id='+detail.privacy_id">{{lang('隐私协议',detail.language)}}</a>
                        </li>
                        <li><a :href="'/terms/'+detail.sitedir+'?id='+detail.terms_id">{{lang('服务条例',detail.language)}}</a>
                        </li>
                        <li>
                            <a :href="'/service/'+detail.sitedir+'?id='+detail.service_id">{{lang('退换货政策',detail.language)}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>
<script>
    var appData = {
        sitedir: '{{detail.sitedir}}', redirect_sitedir:'{{detail.redirect_sitedir}}',
        language: '{{detail.language}}',
        chaport_id: "{{detail.chaport_id?detail.chaport_id:detail.User.chaport_id}}",
        chaport_switch: "{{detail.chaport_switch}}"
    };
    var deleteStr = '{{lang("删除",detail.language)}}';
    var selectStr = '{{lang("请您先选择商品",detail.language)}}';
    var confirmContent = "{{lang('请选择去下单还是继续浏览',detail.language)}}";
    var btn1 = "{{lang('立即结算',detail.language)}}";
    var btn2 = "{{lang('继续浏览',detail.language)}}";
    var findbtnStr = "{{lang('查询',detail.language)}}";
    var nameStr = "{{lang('请输入收货人姓名',detail.language)}}";
    var PhoneStr = "{{lang('请填写正确的电话号码',detail.language)}}";
    var cityStr = "{{lang('请选择您所在的城市',detail.language)}}";
    var areaStr = "{{lang('请选择您的所在的区县',detail.language)}}";
    var addressStr = "{{lang('请填写收货地址',detail.language)}}";
    var postcodeStr = "{{lang('请填写邮编',detail.language)}}";
    var emailStr = "{{lang('请填写正确的电邮地址',detail.language)}}";
    var submitingStr = "{{lang('提交订单中，请稍侯',detail.language)}}";
    var submiterrorStr = "{{lang('提交失败，请重新尝试或联系客服',detail.language)}}";
    var findStr = "{{lang('请输入您的订单号，收货电话或收货人姓名',detail.language)}}";
    var findbtnStr = "{{lang('查询',detail.language)}}";
    var orderError = "{{lang('订单不存在',detail.language)}}";
    var submitComment = "{{lang('提交评论中',detail.language)}}";
    var selectOos = "{{lang('商品',detail.language)}}";
    var selectOos1 = "{{lang('缺货中，请选择其他商品',detail.language)}}";
    var oos = "{{lang('[缺货中]',detail.language)}}";
    var new_buy = "{{lang('最新购买',detail.language)}}";
    var cancel = "{{lang('取消评论',detail.language)}}";
    var write = "{{lang('我来评价',detail.language)}}";
    var selectGiftStr = "{{lang('请先选择赠品',detail.language)}}";
    var del = "{{lang('删除成功',detail.language)}}";
    var add = "{{lang('添加成功',detail.language)}}";
    var add_success = "{{lang('加入购物车成功',detail.language)}}";
    var cart_empty = "{{lang('购物车是空的',detail.language)}}";
    var other = "{{lang('此地区为快递无法送达区域，请选择其他区域收件',detail.language)}}";
    var remote = "{{lang('此地区为快递偏远地区,需由快递公司另外加收快递费送达，请勾选费用',detail.language)}}";

</script>
<script type="text/javascript">
    if (appData.chaport_switch === "1" && appData.chaport_id) {
        (function (w, d, v3) {
            w.chaportConfig = {appId: appData.chaport_id};
            if (w.chaport) return;
            v3 = w.chaport = {};
            v3._q = [];
            v3._l = {};
            v3.q = function () {
                v3._q.push(arguments)
            };
            v3.on = function (e, fn) {
                if (!v3._l[e]) v3._l[e] = [];
                v3._l[e].push(fn)
            };
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://app.chaport.com/javascripts/insert.js';
            var ss = d.getElementsByTagName('script')[0];
            ss.parentNode.insertBefore(s, ss)
        })(window, document);
    }
</script>
<script src="/theme/{{detail.template}}/js/index.js"></script>
<script src="/theme/{{detail.template}}/js/showpopup.js"></script>
</body>
</html>