<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <style>
        .notfound{
            font-size: 5rem;
            text-align: center;
            color:#2f2f2f;
            font-weight: 600;
            margin-top: 10rem;
        }
        .notfoundtext{font-size: 1.3rem;text-align: center;}
        .linktext{font-size: 1.3rem;text-align: center;display: block;}
    </style>
</head>
<body>
<div class="notfound">404</div>
<div class="notfoundtext">Document Not Found</div>
<br>
<a class="linktext" href="javascript:window.history.back()">Go Back</a>
</body>
</html>