<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta http-equiv="content-Type" content="text/html; charset=utf-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="320" name="MobileOptimized">
	<meta content="telephone=no" name="format-detection">
	<title>{{detail.sitename}}</title>
	<base href="/{{detail.sitedir}}">
	<link rel="stylesheet" href="http://static.seezt.cc/shop/css/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="/theme/{{detail.template}}/css/index.css">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="http://static.seezt.cc/shop/js/jquery.1.8.3.min.js"></script>
	<script type="text/javascript">
		!window.jQuery && document.write('<script src="/js/jquery.1.8.3.min.js"><\/script>');
	</script>
	<script src="http://static.seezt.cc/shop/js/layer.and.lazyload.js"></script>
	<script src="http://static.seezt.cc/shop/js/A.C.js"></script>
	<script src="http://static.seezt.cc/shop/js/swiper-3.4.2.jquery.min.js"></script>
	<script>
		window.onscroll = function () {
			check_top();
		};
	</script>
	{{{detail.GoodsCode.ggcode}}}
	{{#each(detail.adcode)}}
	{{{this.headcode}}}
	{{/each}}
	{{#each(detail.othercode)}}
	{{{this.headcode}}}
	{{/each}}
</head>
<body>
<div id="app" v-cloak>
	<div class="navigation">
		<div class="menu">
			<i class="icon" onclick="lisphone()"></i>
			<span onclick="lisphone()">Menu</span>
		</div>
		<ul class="list_pc">
			<li><a v-if="detail.home_id" :href="'../home/'+detail.home_select+'/'+detail.username">{{lang('首页',detail.language)}}</a></li>
			<li><a :href="'/about?id='+detail.about_id">{{lang('关于我们',detail.language)}}</a></li>
			<li><a :href="'/contact?id='+detail.contact_id">{{lang('联系我们',detail.language)}}</a></li>
			<li><a :href="'/privacy?id='+detail.privacy_id">{{lang('隐私协议',detail.language)}}</a></li>
			<li><a :href="'/terms?id='+detail.terms_id">{{lang('服务条例',detail.language)}}</a></li>
			<li><a :href="'/service?id='+detail.service_id">{{lang('退换货政策',detail.language)}}</a></li>
		</ul>
		<ul class="list_phone">
			<li><a v-if="detail.home_id" :href="'../home/'+detail.home_select+'/'+detail.username">{{lang('首页',detail.language)}}</a></li>
			<li><a :href="'/about?id='+detail.about_id">{{lang('关于我们',detail.language)}}</a></li>
			<li><a :href="'/contact?id='+detail.contact_id">{{lang('联系我们',detail.language)}}</a></li>
			<li><a :href="'/privacy?id='+detail.privacy_id">{{lang('隐私协议',detail.language)}}</a></li>
			<li><a :href="'/terms?id='+detail.terms_id">{{lang('服务条例',detail.language)}}</a></li>
			<li><a :href="'/service?id='+detail.service_id">{{lang('退换货政策',detail.language)}}</a></li>
		</ul>
	</div>
	<div class="content_wrap">
		<div class="content">'
			<div class="content_left">
				<div class="goodsInfo_wrap">
					<div class="banner">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div v-if="detail.head_video" class="swiper-slide" v-html="detail.head_video"></div>
								<div v-for="item in detail.head_imgs" class="swiper-slide"><img :src="cdnbase+item"></div>
							</div>
							<!-- 如果需要分页器 -->
							<div class="swiper-pagination"></div>
							<!-- 如果需要导航按钮 -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>

					<div class="goodsInfo">
						<h3>[[detail.sitename]]</h3>
						<p v-html="detail.sitedesc"></p>
						<div><span>[[detail.money]] <strong class="small">[[detail.price]]</strong></span> <del>{{lang('参考价格',detail.language)}}：[[detail.money]] [[detail.oldprice]]</del></div>
					</div>
				</div>
				<div class="overview" v-html="detail.GoodsContent.content"></div>
			</div>
			<div class="content_right" id="content_buy">
				<div class="goodsPrice" >
					<div class="price">[[detail.money]] <span>[[detail.price]]</span></div>
					<div v-if="prods.option1||prods.specname"><span>已选择</span>：<span v-html="prods.option1"></span> <span v-html="prods.specname"> </span></div>
				</div>
				<div class="specification">
					<div id="product-spec">
						<div class="product_item">
							<div class="spec_Title">[[detail.option1_name]]<i style="font-style:normal;margin-left:10px;" v-for="item in count_info" v-if="item.count">[[item.name]]</i></div>
							<!--主规格-->
							<div class="spec_List user-name">
								<div class="spec_Item opt1" :class="{active:prods.specname===item.name,disable:!option1_show&&item.inventory===0}"
								     @click="(option1_show||item.inventory!==0)&&select_specitem_nocart(item,1)" v-for="(item,index) in  detail.specs.name_list">
									<div class="sticky"></div>
									<img :src="item.img?cdnbase+item.img:''">
									<span v-if="item.inventory==0&&!item.option1&&!item.option2" class="oos">[[item.name]]{{lang('[缺货中]',detail.language)}}</span>
									<span v-else>[[item.name]]</span>
								</div>
							</div>
							<!--一级规格-->
							<div v-show="option1_show">
								<div class="spec_Title">[[detail.option2_name]]</div>
								<div class="spec_List option1">
									<div class="option_Item opt2" :class="{active:check_option1_active(item,1),disable:check_option1_disable(item,1)||stockout1(item,1)}" :disabled="check_option1_disable(item,1)||stockout1(item,1)" v-for="(item,index) in detail.specs.option1_list" @click="select_option1_nocart(item,1);">
										<span v-if="stockout1(item,1)" class="oos">[[item.option1]]{{lang('[缺货中]',detail.language)}}</span>
										<span v-else>[[item.option1]]</span>
									</div>
								</div>
							</div>
							<!--二级规格-->
							<div v-show="option2_show">
								<div class="spec_Title">[[detail.option3_name]]</div>
								<div class="spec_List option2">
									<div class="option_Item opt3" :class="{active:check_option2_active(item,1),disable:check_option2_disable(item,1)||stockout2(item,1)}" :disabled="check_option2_disable(item,1)||stockout2(item,1)" v-for="(item,index) in detail.specs.option2_list" click="select_option2_nocart(item,1);">
										<span v-if="stockout2(item,1)" class="oos">[[item.option2]]{{lang('[缺货中]',detail.language)}}</span>
										<span v-else>[[item.option2]]</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="buyNum">
						<span>购买数量</span>
						<div class="num fr">
							<div @click="decNum()" class="less fl">-</div>
							<input class="num_text fl" type="text" value="1" name="num" id="addnum" readonly>
							<div @click="addNum()" class="more fl">+</div>
						</div>
					</div>
					<!--赠品-->
					<div id="gifts" v-for="(num,index2) in giftLength">
						<div style="font-size:1.2rem;">{{lang('赠品区域',detail.language)}}</div>
						<div v-for="(gift,index1) in detail.giftGoods">
							<div class="spec_Title">[[gift.sitename]]</div>
							<!--主规格-->
							<div class="spec_Title">[[gift.option1_name]]</div>
							<div class="spec_List user-name">
								<div class="spec_Item opt1" :class="{active:giftSelect[index1][num-1].specname===item.name}"  @click="select_giftspec(item,index1,num)" v-for="(item,index) in detail.giftGoodsSpecs[index1].giftName_list">
									<div class="sticky"></div>
									<img v-if="item.img" :src="item.img?cdnbase+item.img:''">
									<span>[[item.name]]</span>
								</div>
							</div>
							<!--一级规格-->
							<div v-if="detail.giftGoodsSpecs[index1].giftOption1_list.length>0">
								<div class="spec_Title">[[gift.option2_name]]</div>
								<div class="spec_List option1">
									<div class="option_Item opt2" :class="{active:check_giftOption1_active(item,index1,num),disable:check_giftOption1_disable(item,index1,num)}" :disabled="check_giftOption1_disable(item,index1,num)"  v-for="(item,index) in detail.giftGoodsSpecs[index1].giftOption1_list" @click="select_giftoption1(item,index1,num);">
										<span>[[item.option1]]</span>
									</div>
								</div>
							</div>
							<!--二级规格-->
							<div v-if="detail.giftGoodsSpecs[index1].giftOption2_list.length>0">
								<div class="spec_Title">[[gift.option3_name]]</div>
								<div class="spec_List option2">
									<div class="option_Item opt3" :class="{active:check_giftOption2_active(item,index1,num),disable:check_giftOption2_disable(item,index1,num)}" :disabled="check_giftOption2_disable(item,index1,num)" v-for="(item,index) in detail.giftGoodsSpecs[index1].giftOption2_list" @click="select_giftoption2(item,index1,num);">
										<span>[[item.option2]]</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="order_info">
					<div class="product_spec_info">
						<div class="spec_Title_Info" v-show="flag2===1">
							<span>{{lang('运费快递费',detail.language)}}</span>:<span class="price" id="allprice">[[detail.money]] [[extrapay]]</span>
						</div>
						<div class="spec_Title_Info">
							<span>{{lang('价格',detail.language)}}</span>:<span class="price" id="allprice">[[detail.money]] [[allPrice]]</span>
						</div>
						<div class="spec_Title_Info" v-show="manyoff_price>0"><span>{{lang('多件优惠',detail.language)}}:</span><span class="price" id="manyoff">[[detail.money]] -[[manyoff_price]]</span></div>
						<div class="spec_Title_Info" v-show="saleoff_price>0"><span>{{lang('满减优惠',detail.language)}}:</span><span class="price" id="offprice">[[detail.money]] -[[saleoff_price]]</span></div>
						<div class="spec_Title_Info" v-show="moneyprice>0"><span>{{lang('价格满减',detail.language)}}:</span><span class="price" id="price_money">[[detail.money]] -[[moneyprice]]</span></div>
						<div class="spec_Title_Info"><span>{{lang('合计',detail.language)}}:</span>
							<!--<span class="price" id="realprice">[[detail.money]] [[realPrice]]</span>-->
							<span class="price" id="realprice" v-show="flag2===1">[[detail.money]] [[realPrice+parseInt(extrapay)]]</span>
							<span class="price" id="realprice" v-show="flag2!==1">[[detail.money]] [[realPrice]]</span>
						</div>
						<div class="reminder" v-if="detail.order_prompt_info">
							<div class="reminder_info">[[detail.order_prompt_info]]</div>
						</div>
						<div class="order_info">
							<form id="user_form" class="am-form">
								<div class="am-form-group">
									<label for="clientname" class="clientname">{{lang('收货人',detail.language)}}<em>*</em></label>
									<div>
										<input type="text" id="clientname" placeholder="" v-model="clientinfo.clientname">
									</div>
								</div>
								<div class="am-form-group">
									<label for="clientphone" class="clientphone">{{lang('联系电话',detail.language)}}<em>*</em></label>
									<div>
										<input type="text" id="clientphone" placeholder="" v-model="clientinfo.clientphone">
									</div>
								</div>
								<div class="am-form-group" id="provinceDiv" v-if="detail.money!=='￥'&&detail.money!=='S$'&&detail.money!=='円'">
									<label for="clientphone" class="clientphone">{{lang('城市',detail.language)}}/{{lang('地区',detail.language)}}<em>*</em></label>
									<div>
										<select class="select" id="city" v-model="city" @change="init_Select_City(detail.money,city,'area')">
											<option :value="item" :data-id="item.id" v-for="item in cityData">[[item.name]]</option>
										</select>
										<select class="select" id="area" v-model="area" @change="init_Select_City(detail.money,area,'code')">
											<option :value="item" :data-id="item.id" v-for="item in areaData">[[item.name]]</option>
										</select>
									</div>
								</div>
								<div class="am-form-group" v-if="detail.money==='円'">
									<label for="clientphone" class="clientphone">{{lang('城市',detail.language)}}/{{lang('地区',detail.language)}}<em>*</em></label>
									<div>
										<select class="select" v-model="clientinfo.city">
											<option :value="item.name" :data-id="item.id" v-for="item in cityData" >[[item.name]]</option>
										</select>
									</div>
								</div>
								<div class="am-form-group" v-if="detail.money==='円'">
									<label for="clientphone" class="clientphone">{{lang('城市',detail.language)}}/{{lang('地区',detail.language)}}<em>*</em></label>
									<div>
										<input type="text" class="necessary  text-left" v-model="clientinfo.area"
											   placeholder="{{lang('必填',detail.language)}}" required>
									</div>

								</div>
								<div class="am-form-group">
									<label for="clientaddress" class="clientaddress">{{lang('地址',detail.language)}}<em>*</em></label>
									<div>
										<input type="text" id="clientaddress" placeholder="" v-model="clientinfo.clientaddress">
									</div>
								</div>
								<div class="am-form-group" v-if="detail.money==='S$'||detail.money==='RM'||detail.money==='฿'||detail.money==='円'">
									<label  class="clientzipcode"><span class="name">{{lang('邮编',detail.language)}}</span><em>*</em> </label>
									<div>
										<select v-if="detail.money==='RM'||detail.money==='฿'" class="select"  v-model="clientinfo.clientzipcode" @change="mark && changeCode(detail.money);">
											<option :value="item.displayName"  v-for="item in codeData">[[item.displayName]]</option>
										</select>
										<input type="tel" v-if="detail.money==='S$'||detail.money==='円'" placeholder="{{lang('必填',detail.language)}}" v-model="clientinfo.clientzipcode" @change="mark && changeCode(detail.money);"/>
									</div>
								</div>
								<div class="am-form-group">
									<label for="clientemail" class="clientemail">{{lang('E-Mail',detail.language)}}</label>
									<div>
										<input type="email" id="clientemail" placeholder="" v-model="clientinfo.clientemail">
									</div>
								</div>
								<div class="am-form-group">
									<label for="clientotherinfo" class="clientotherinfo">{{lang('备注',detail.language)}}</label>
									<div>
										<textarea id="clientotherinfo" placeholder="{{lang('其他要求请备注',detail.language)}}" v-model="clientinfo.clientotherinfo" maxlength="50" @input="descInput()"></textarea>
										<span class="textlength">[[remnant]]/50</span>
									</div>
								</div>
								<div class="am-form-group">
									<label class="hdfk" ></label>
									<div>
										<input class="radio" type="radio" checked="checked">
										<span class="ch-custom-radio"></span>
										<span class="ch-custom-label">{{lang('货到付款',detail.language)}}</span>
									</div>
								</div>
								<div class="am-form-group" id="pianyuan">
									<label ></label>
									<div>
									</div>
								</div>
								<div v-if="flag2===1" style="text-align:center;">
									<input type="checkbox" value="1" id="remote" v-modal="check" checked="checked" @click="getValue()"  data-am-ucheck style="-webkit-appearance: checkbox;">
									<span style="color: #F86161;" >{{lang('此地区为快递偏远地区，需由快递公司另外加收快递费送达，快递费：',detail.language)}}<u>[[detail.money]][[extrapay]]</u></span><!--'//data1.cityMess.cityinfo.extrapay-->
								</div>
								<div v-if="flag2===0"  style="text-align:center;">
									<span style="color: #F86161;" >{{lang('此地区为快递无法送达区域，请选择其他区域收件',detail.language)}}</span><!--'//data1.cityMess.cityinfo.extrapay-->
								</div>
								<div class="spec_Btns">
									<a href="javascript:void(0);" @click="flag1 &&submit_order_nocart()" class="btn btn-danger" onclick="show_pop_car()">{{lang('立即结算',detail.language)}}</a>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="view_panel_bd am-form">
					<div class="am-form-group">
						<input type="text" id="expressinfo" v-model="expressinfo" placeholder="{{lang('请输入您的订单号，收货电话或收货人姓名',detail.language)}}">
						<span class="am-input-group-btn">
            <button class="btn btn-danger find-btn" @click="find_order()">{{lang('查询',detail.language)}}</button>
        </span>
					</div>
					<ul id="find_result" class="comment_ul" v-if="orders.length>0">
						<li v-if="orders.length>0" style="position: relative;border-bottom: none;" @click="close_orderinfo()">
							<span class="closeBtn" style="top:-2px;"></span>
						</li>
						<li class="am-padding-xs am-text-sm" v-for="item in orders">
							<div>{{lang('下单时间',detail.language)}} ：<span>[[item.ordertime]]</span></div>
							<div>{{lang('订单号',detail.language)}} ：<span>[[item.orderid]]</span><span class="am-fr am-text-danger">[[item.orderstate]]</span></div>
							<div>{{lang('收货人',detail.language)}} ：<span>[[item.clientname]] ([[item.clientphone]])</span></div>
							<div>{{lang('地　址',detail.language)}} ：<span>[[item.clientaddress]]</span></div>
							<div class="am-padding-xs" v-for="goods in item.OrderGoods">
								<div>[[goods.goodsname]] [[goods.specname]] [[goods.option1]] [[goods.option2]] X [[goods.number]]</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="service_wrap">
					<div class="fixbar cart-box-fixed">
						<div class="lf order-query">
							<div>{{lang('客服',detail.language)}}</div>
							<div class="kf_list">
								<a v-if="fblink" class="facebook_btn" :href="fblink"  target="_blank">
									<span>Facebook</span>
								</a>
								<a v-if="linelink" class="line_btn" :href="linelink" target="_blank">
									<span>Line</span>
								</a>
								<a v-if="whatsapplink" class="whatsapp_btn" :href="whatsapplink"  target="_blank">
									<span>WhatsApp</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="after_buyNow">
		<div class="titleName">{{lang('下单成功',detail.language)}}</div>
		<img src="/theme/{{detail.template}}/images/close.png" class="closeIcon" onclick="closeSuccess();location.reload();"/>
		<div class="con"><span></span>{{lang('下单成功，我们将尽快为您配送！',detail.language)}}</div>
		<div class="successGoods">
			<div class="line"><label>{{lang('订单号',detail.language)}}：</label><span id="orderid">[[orderid]]</span></div>
			<div class="line"><label>{{lang('金额',detail.language)}}：</label><span id="orderprice">[[detail.money]][[orderprice]]</span></div>
			<div class="line"><label>{{lang('收货人',detail.language)}}：</label><span id="order_clientname">[[order_clientname]]</span></div>
			<div class="line"><label>{{lang('联系电话',detail.language)}}：</label><span id="order_clientphone">[[order_clientphone]]</span></div>
			<div class="line"><label>{{lang('地址',detail.language)}}：</label><span id="order_clientaddress">[[order_clientaddress]]</span></div>
		</div>
		<div class="continue">
			<a v-if="detail.home_id" :href="'../home/'+detail.home_select+'/'+detail.username">{{lang('继续浏览',detail.language)}}</a>
			<a v-else href="javascript:location.reload()">{{lang('继续浏览',detail.language)}}</a>
		</div>
		<div class="RecommendGoods">
			<div v-if="detail.order_ads" class="titleName">{{lang('猜你喜欢',detail.language)}}</div>
			<ul>
				<li v-for="item in detail.order_ads">
					<a :href="'/'+item.sitedir">
						<img  :src="item.head_imgs?cdnbase+item.head_imgs.split(';')[0]+'-300':''" />
						<span>[[item.sitename]]</span>
						<div class="RecommendGoodsPrice">
							<span class="nowPrice">[[item.money]] [[item.price]]</span>
							<div class="clearfix"></div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--弹出的蒙版遮罩层-->
	<div class="black_overlay"></div>
	<!--手机端立即购买-->
	<div class="buy_btn" onclick="go_buy()">
		<a>{{lang('立即购买',detail.language)}}</a>
	</div>
	<!--返回顶部-->
	<div class="top" onclick="go_top()"></div>
</div>
</body>

<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/{{detail.languagecode}}/sdk.js#xfbml=1&version=v3.0';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<script>
	var appData = {
		sitedir: '{{detail.sitedir}}', redirect_sitedir:'{{detail.redirect_sitedir}}',
		language: '{{detail.language}}',
		apiserver:"{{apiserver}}",
        chaport_id:"{{detail.chaport_id?detail.chaport_id:detail.User.chaport_id}}",
        chaport_switch:"{{detail.chaport_switch}}",  is_domain:"{{detail.is_domain}}"
	};
	var deleteStr='{{lang("删除",detail.language)}}';
	var selectStr='{{lang("请您先选择商品",detail.language)}}';
	var confirmContent="{{lang('请选择去下单还是继续浏览',detail.language)}}";
	var btn1 = "{{lang('立即结算',detail.language)}}";
	var btn2 = "{{lang('继续浏览',detail.language)}}";
	var findbtnStr = "{{lang('查询',detail.language)}}";
	var ordertimeStr = "{{lang('下单时间',detail.language)}}";
	var orderidStr = "{{lang('订单号',detail.language)}}";
	var ordernameStr = "{{lang('收货人',detail.language)}}";
	var orderaddressStr = "{{lang('地　址',detail.language)}}";
	var nameStr = "{{lang('请输入收货人姓名',detail.language)}}";
	var PhoneStr = "{{lang('请填写正确的电话号码',detail.language)}}";
	var cityStr = "{{lang('请选择您所在的城市',detail.language)}}";
	var areaStr = "{{lang('请选择您的所在的区县',detail.language)}}";
	var addressStr = "{{lang('请填写收货地址',detail.language)}}";
	var postcodeStr = "{{lang('请填写邮编',detail.language)}}";
	var emailStr = "{{lang('请填写正确的电邮地址',detail.language)}}";
	var submitingStr = "{{lang('提交订单中，请稍侯',detail.language)}}";
	var submiterrorStr = "{{lang('提交失败，请重新尝试或联系客服',detail.language)}}";
	var findStr = "{{lang('请输入您的订单号，收货电话或收货人姓名',detail.language)}}";
	var findbtnStr = "{{lang('查询',detail.language)}}";
	var orderError="{{lang('订单不存在',detail.language)}}";
	var selectOos="{{lang('商品',detail.language)}}";
	var selectOos1="{{lang('缺货中，请选择其他商品',detail.language)}}";
	var oos="{{lang('[缺货中]',detail.language)}}";
    var selectGiftStr='{{lang("请您先选择赠品",detail.language)}}';
</script>
<script type="text/javascript">
    if(appData.chaport_switch==="1"&&appData.chaport_id){
        (function(w,d,v3){
            w.chaportConfig = { appId:appData.chaport_id };
            if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
    }
</script>
<script src="/theme/{{detail.template}}/js/index.js"></script>
<div style="display:none;">
	{{{detail.GoodsCode.kfcode}}}
	{{{detail.GoodsCode.tjcode}}}
	{{#each(detail.adcode)}}
	{{{this.code}}}
	{{/each}}
	{{#each(detail.othercode)}}
	{{{this.code}}}
	{{/each}}
</div>
</html>